<div class="fondo">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="card ">
                    <div class="card-header text-center">
                        <h2>
                            <b>
                                Inicio de Sesion
                            </b>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <form>
                                    <div class="form-group text-left">
                                        <h5>
                                            <b>
                                                <i id="iconEmail" class="fas fa-envelope"></i>
                                                <label for="formGroupExampleInput"><span>..</span> Correo Electrónico:</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="Ingrese Correo" [(ngModel)]="loginParams.email">
                                            </b>
                                        </h5>
                                    </div>
                                    <div class="form-group text-left">
                                        <h5>
                                            <b>
                                                <i id="iconPass" class="fas fa-key"></i>
                                                <label for="formGroupExampleInput"><span>..</span> Contraseña:</label>
                                                <input type="password" class="form-control" id="password" name="password"
                                                    placeholder="Ingrese Nombre" [(ngModel)]="loginParams.password">
                                            </b>
                                        </h5>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-warning" (click)="login()">Ingresar</button>
                                        <button type="submit" class="btn btn-danger">Cancelar</button>
                                        <br>
                                        <button type="submit" class="btn btn-primary" (click)="facebookLoggin()"><i id="facebook"
                                                class="fab fa-facebook-square"></i> Facebook</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <b>
                            <a routerLink="/registro"> No tienes una Cuenta?</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>