page-profile {
  .camera {
    color: rgb(158, 0, 0) !important;
    font-size: 35px;
  }

  .album {
    color: rgb(162, 0, 255)  !important;
    font-size: 33px;
  }

  .ubicacion {
    color: rgb(0, 110, 255) !important;
    font-size: 35px;
  }

}
