s<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backgroudSocial bposy0">

  <div id="avatarLogin">
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <div class="avatarFrameOffline">
          <img src="../../assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </div>

  <ion-list color='personal'>

    <ion-item color='personal' *ngIf="operation === 'register'">
      <ion-label floating color="dark">Nick</ion-label>
      <ion-input type="text" [(ngModel)]="nick" name="nick"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <ion-item color='personal' *ngIf="operation === 'register'">
      <ion-label floating color="dark">Repetir Password</ion-label>
      <ion-input type="password" [(ngModel)]="password2" name="password2"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Status</ion-label>
      <ion-select [(ngModel)]="status" name="status">
        <ion-option value="Online">Conectado</ion-option>
        <ion-option value="Away">Ausente</ion-option>
        <ion-option value="Busy">Ocupado</ion-option>
        <ion-option value="AppearOffline">Desconectado</ion-option>
      </ion-select>
    </ion-item>


  </ion-list>

  <div padding>
    <span *ngIf="operation === 'register'">Ya tienes cuenta? <a (click)="operation = 'login'"><b>Click Aquí</b></a></span>
    <span *ngIf="operation === 'login'">Aun no tienes cuenta? <a (click)="operation = 'register'"><b>Click Aquí</b></a></span>
    <hr />
    <button *ngIf="operation === 'login'" ion-button (click)="loginWithEmail()" block>Ingresar</button>
    <button *ngIf="operation === 'register'" ion-button (click)="registerWithEmail()" block>Registrarse</button>
    <hr />
    <button ion-button (click)="facebookAuth()" block>Ingresar con Facebook</button>
  </div>

</ion-content>


<!--
    <ion-item color='personal'>
      <ion-label color="dark">Recordarme</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>-->