<div class="container">
    <div class="row">
<br><br>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{lugar.nombre}}</h1>
            <hr />
            <small>{{lugar.distancia}}</small>
            <br />
            <div class="alert alert-primary" role="alert" F>
                <p>
                    {{lugar.description}}
                </p>
                <b>Suscripcion: {{lugar.plan}}</b>
                <!--PONER EN NEGRITAS -->
            </div>
        </div>
    </div>
</div>