<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="sendRequest()">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundAmsnImg bluewhitebluebg">
  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameonline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-9 padding>
        <div>
          {{nick.uid}}</div><br />
        <span>{{nick}}</span>
        <br />
        <small>{{nick}}</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="user && user.friends">
    <div>
      <b>Amigos ({{user.friends.length}}/{{user.friends.length}})</b>
    </div>
    <!-- <div class="contact-list-item" *ngFor="let user of users | search: query" (click)="goToConversation(user)">
      <b>{{user.nick}}</b> <i class="msnicon brb"></i>
      <small *ngIf="user.status">{{user.status}}</small>
    </div>
    <div>separador</div>-->
    <div *ngFor="let user of user.friends">
      <friend [uid]="user"></friend>
    </div>
  </div>
</ion-content>