<ion-header>
  <ion-navbar color="colorNavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="sendRequest()">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundHome">
  
  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div *ngIf="user">
          <img src="this.user.avatar || '../../../../assets/img/user.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-9 padding color="oculto1">
        <span class="colorMenu">{{nick}}</span><img src="assets/img/{{getIconByStatus(this.status)}}" class="status">
        <br />
        <b *ngIf="this.state !== ''" class="colorMenu"><small>{{this.state}}</small></b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="user && user.friends !== undefined">
    <div class="colorMenu">
      <b>Amigos ({{user.friends.length}}/{{user.friends.length}})</b>
      <br>
    </div>
    <!-- <div class="contact-list-item" *ngFor="let user of users | search: query" (click)="goToConversation(user)">
      <b>{{user.nick}}</b> <i class="msnicon brb"></i>
      <small *ngIf="user.status">{{user.status}}</small>
    </div>
    <div>separador</div>-->
    <div *ngFor="let user of user.friends">
      <ion-item color='oculto1'>
        <friend [uid]="user"></friend>
      </ion-item>
    </div>
  </div>
</ion-content>