agm-map {
    height: 300px;
  }

  #cuadrado{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
  }

  .padding{
    padding: 10px;
    margin-bottom: 10px;
  }

  #estrella{
    color: gold;
  }