<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<hr />
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Lugares Cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/new">Crear nuevo Museo</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li class="list-group-item"><a routerLink="/crear/{{lugar.id}}">
              <h3>{{lugar.nombre}} <i id="estrella" class="fas fa-star pull-right"></i>
              </h3>
            </a>
            <Small>Fecha Creacion: {{lugar.id | date:'short' | uppercase}}</Small>
            <br>
            <p [innerHtml]='lugar.description | prueba'></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-5" [@animable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
        <div class="alert-warning padding" *ngIf="lugar.plan == 'Pagado'"><a routerLink="/crear/{{lugar.id}}">
            <h3>{{lugar.nombre}}</h3>
          </a>
          <br>
          <p [innerHtml]='lugar.description | prueba'></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!--
  [queryParams]="{action: 'edit'}"
<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <a>
      <li contar-clicks [ngStyle]="{color: (lugar.active) ? 'green' : 'red'}" [ngClass]="{numero_par:(i+1)%2!=0}"
        [resaltar]="lugar.plan">{{lugar.nombre}}>
        <span *ngSwitchCase="1" [ngStyle]="{color: 'blue'}">Muy Cerca</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'orange'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'black'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul>-->