<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backgroudSocial bposy0">
  <ion-grid>
    <ion-row>
      <ion-col col-6 offset-3>
        <div class="avatarFrameonline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="marto15">
      <ion-col col-6>
        <br />
        <span>Cambiar Foto</span>
      </ion-col>
      <ion-col col-6>
        <a ion-button>
          <ion-icon name="camera"></ion-icon>
        </a>
        <a ion-button>
          <ion-icon name="images"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item color='personal' *ngIf="operation === 'register'">
      <ion-label floating color="dark">Nick</ion-label>
      <ion-input type="text" [(ngModel)]="nick" name="nick"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <ion-item color='personal' *ngIf="operation === 'register'">
      <ion-label floating color="dark">Repetir Password</ion-label>
      <ion-input type="password" [(ngModel)]="password2" name="password2"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Status</ion-label>
      <ion-select [(ngModel)]="status" name="status">
        <ion-option value="Online">Conectado</ion-option>
        <ion-option value="Away">Ausente</ion-option>
        <ion-option value="Busy">Ocupado</ion-option>
        <ion-option value="AppearOffline">Desconectado</ion-option>
      </ion-select>
    </ion-item>


  </ion-list>

  <a ion-button full>Guardar</a>
</ion-content>