<ion-header>
  <ion-navbar color="colorNavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="backgroudSocial bposy0">
  <ion-grid>
    <ion-row>
      <ion-col col-6 offset-3>
        <div>
          <img *ngIf="user" src="this.user.avatar || '../../../../assets/img/user.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-item color='personal'>
        <ion-col col-4>
          <span>Cambiar Foto</span>
        </ion-col>
        <ion-col col-8>
          <ion-col col-2>
            <ion-icon class="camera" name="camera" (click)="takePicture('camera')"></ion-icon>
          </ion-col>
          <ion-col col-2>
            <ion-icon class="album" name="images" (click)="takePicture('album')"></ion-icon>
          </ion-col>
          <ion-col col-2>
            <ion-icon class="ubicacion" name="navigate" (click)="getLocation()"></ion-icon>
          </ion-col>
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="user">

    <ion-item color='personal'>
      <ion-label floating color="dark">Nick</ion-label>
      <ion-input type="text" [(ngModel)]="user.nick" name="nick"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Subnick</ion-label>
      <ion-input type="text" [(ngModel)]="user.subnick" name="subnick"></ion-input>
    </ion-item>

    <ion-item color='personal'>
      <ion-label floating color="dark">Estado</ion-label>
      <ion-input type="text" [(ngModel)]="user.state" name="state"></ion-input>
    </ion-item>


    <ion-item color='personal'>
      <ion-label floating color="dark">Status</ion-label>
      <ion-select [(ngModel)]="user.status" name="status">
        <ion-option value="Online">Conectado</ion-option>
        <ion-option value="Away">Ausente</ion-option>
        <ion-option value="Busy">Ocupado</ion-option>
        <ion-option value="AppearOffline">Desconectado</ion-option>
      </ion-select>
    </ion-item>

    <ion-item color='personal' *ngIf="this.location">
      <ion-label floating color="dark">Direccion:</ion-label>
      <ion-input type="email" [(ngModel)]="this.location" name="this.location" style="font: size 1px;"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button full (click)="guardarPerfil()">Guardar</button>
  <button ion-button full (click)="logout()">Cerrar Sesion</button>


</ion-content>